@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Best Movies</h1>
    <p class="lead">Welcome to our Best Movies store where you can find any movie for the most demanding taste</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Awesome article</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit cursus tincidunt. Proin vitae semper neque.</p>
        <p>Maecenas imperdiet nibh aliquet libero aliquet ultrices. Sed lacinia sapien sed leo pulvinar placerat. </p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=awesome+article">Learn more about Awesome article &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Another Awesome article</h2>
        <p>Morbi ac magna pellentesque, pretium urna id, gravida ipsum.Vivamus luctus risus sem, ut aliquet leo congue vitae. </p>
        <p>Donec arcu purus, vulputate at metus ut, blandit tempus turpis.</p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=another+awesome+article">Learn more about Another Awesome article &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Not Awesome but still good article</h2>
        <p>Morbi ac magna pellentesque, pretium urna id, gravida ipsum.Vivamus luctus risus sem, ut aliquet leo congue vitae. </p>
        <p>Donec arcu purus, vulputate at metus ut, blandit tempus turpis.</p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=Not+Awesome+but+still+good+article">Learn more about Good article &raquo;</a></p>
    </div>

</div>