@model BestMovies.Models.Customer
@using System

@{
    ViewBag.Title = "Details";
}
<div>
    <hr>
    <h3>@Html.DisplayFor(model => model.Name)</h3>
    <ul>
        @if (Model.BirthDate != null)
        {
            <li>Birth Date: @(((DateTime)Model.BirthDate).ToShortDateString())</li>
        }
        <li>Membership Type: @Model.MembershipType.Name</li>
    </ul>
</div>
